.icon-advantage {
    fill: $color-pimary;
    width: 54px;
    height: 54px;
}
.card-icon {
    fill: $color-pimary;
    width: 31px;
    height: 31px;
}
.scroll-up {
    fill: #ffffff;
    width: 17px;
    height: 24px;
}