
// $primary-color-dark:   #FFA000;
// $primary-color:        #FFC107;
// $primary-color-light:  #FFECB3;
// $primary-color-text:   #212121;
// $accent-color:         #607D8B;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;



// colors
$color-pimary: #ff213b;
$color-secondary: #172c42;

// fonts
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Muller', sans-serif;
  


  